{% extends "index.njk" %}

{% block screenMessages %}    
<ul id="messages"></ul>
{% endblock %}

{% block input %}
<label for="message" id="uname">{{ uname }}</label>
<input name="message" id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..."/>
<button>Send</button>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
<script src="script.js"></script>
{% endblock %}
